<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="{{ asset('assets/img/apple-icon.png') }}" />
    <link rel="icon" type="image/png" href="{{ asset('assets/img/favicon.png') }}" />
    <title>{% block title %}Event Management{% endblock %}</title>
    <!--     Fonts and icons     -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
      rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script
      src="https://kit.fontawesome.com/42d5adcbca.js"
      crossorigin="anonymous"></script>
    <!-- Nucleo Icons -->
    <link href="{{ asset('assets/css/nucleo-icons.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/nucleo-svg.css') }}" rel="stylesheet" />
    <!-- Popper -->
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Main Styling -->
    <link
      href="{{ asset('assets/css/soft-ui-dashboard-tailwind.css') }}?v=1.0.5"
      rel="stylesheet" />
    {% block stylesheets %}{% endblock %}
  </head>

  <body
    class="m-0 font-sans antialiased font-normal text-base leading-default bg-gray-50 text-slate-500">
    {% include 'partials/_sidebar.html.twig' %}

    <main
      class="ease-soft-in-out xl:ml-68.5 relative h-full max-h-screen rounded-xl transition-all duration-200">
      <!-- Navbar -->
      {% embed 'partials/_navbar.html.twig' %}
        {% block breadcrumb %}{{ parent() }}{% endblock %}
        {% block page_title %}{{ parent() }}{% endblock %}
      {% endembed %}

      <!-- end Navbar -->

      <div>
        {% block body %}{% endblock %}
      </div>
    </main>
    
    {% block javascripts %}
        <script src="{{ asset('assets/js/soft-ui-dashboard-tailwind.js') }}?v=1.0.5" async></script>
    {% endblock %}
  </body>
</html>
