{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-xl font-bold mb-4">
        Edit User <span class="text-purple-600">{{ user.username }}</span>
    </h1>

    {{ form_start(form) }}
        {{ form_row(form.password, { 'attr': { 'class': 'hidden', 'value': user.password }}) }}
        {{ form_widget(form) }}
        <div class="flex justify-between mb-4">   
            <button
                class="mr-3 inline-block px-6 py-3 font-bold text-center bg-gradient-to-tl from-purple-700 to-pink-500 uppercase align-middle transition-all rounded-lg cursor-pointer leading-pro text-xs ease-soft-in tracking-tight-soft shadow-soft-md bg-150 bg-x-25 hover:scale-102 active:opacity-85 hover:shadow-soft-xs text-white">
                Save changes
            </button>
            {{ form_end(form) }}
            <a href="{{ path('app_admin') }}">
                <button type="button" class="mr-3 inline-block px-6 py-3 font-bold text-center bg-gradient-to-tl from-slate-600 to-slate-300 uppercase align-middle transition-all rounded-lg cursor-pointer leading-pro text-xs ease-soft-in tracking-tight-soft shadow-soft-md bg-150 bg-x-25 hover:scale-102 active:opacity-85 hover:shadow-soft-xs text-white">Cancel</button>
            </a>
        </div>
{% endblock %}
